<div class="jumbotron">
    <div class="container">
    	<a href="#" rel="shadowbox;" id="shadowB" >
        	<img id="ruedaColor" src="images/rueda.png" />
        </a>
        <h1>DashBoard</h1>
        <p>Jumentos Everywhere</p>                
    </div>
</div>
<div class="loader hidden">
	<div class="green"></div>
	<div class="red"></div>
	<div class="blue"></div>
	<div class="yellow"></div>
</div>