<form method="get" accept-charset="utf-8">
	<div class="row cabecera">
		<div class="col-md-9 col-md-offset-3">
			<h2>Modificadores de Aspecto</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1 col-md-offset-3">
			<input type="color" id="colorWidget" value="#ffffff" >
		</div>
		<div class="col-md-6">
			<i class="glyphicon glyphicon-arrow-left"></i><h4> Color de fondo de los Modulos </h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1 col-md-offset-3">
			<input type="color" id="colorFondo" value="#FBF8F5" >
		</div>
		<div class="col-md-6">
			<i class="glyphicon glyphicon-arrow-left"></i><h4> Color de fondo de la Pagina </h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1 col-md-offset-3">
			<input type="color" id="colorCabecera" value="#eeeeee" >
		</div>
		<div class="col-md-6">
			<i class="glyphicon glyphicon-arrow-left"></i><h4> Color de fondo de la Cabecera </h4>
		</div>
	</div>
	<div class="row tipografia">
		<div class="col-md-6 col-md-offset-3">
			<div>Selecciona una Tipografia</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<select id="tipoTitulo" class="form-control">
				<option value="">Tipografia Predefinida</option>
				<option value="Flower">Tipografia Flower</option>
				<option value="Pacifico">Tipografia Pacifico</option>
				<option value="Dancing">Tipografia Dancing</option>
				<option value="Gothic">Tipografia Gothic</option>
				<option value="Playball">Tipografia Playball</option>
				<option value="Marvel">Tipografia Marvel</option>
			</select>
			<blockquote>
				<p id="testTipo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
				<footer>Texto en <cite id="tipoLetra">Helvetica Neue (Predefinida)</cite></footer>
			</blockquote>
		</div>
	</div>	
</form>